/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  inline-size: 100%;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: 10px;
  left: 10px;
  border-block-end: 1px solid var(--header-and-footer-theme-menu-color);
  border-inline-start: 1px solid var(--header-and-footer-theme-menu-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--header-and-footer-theme-menu-color);
  border-inline-end: 1px solid var(--header-and-footer-theme-menu-color);
}

.header__decoration::before {
  content: 'rec';
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.header__decoration::after {
  content:'';
  position: absolute;
  top: 18px;
  right: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--header-and-footer-theme-menu-color);
  box-shadow: 0 0 4px 2px var(--header-and-footer-theme-menu-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  color: var(--header-and-footer-theme-menu-color);
  font-family: 'IBM Plex mono';
  font-size: 18px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  block-size: 26px;
  inline-size: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--header-theme-menu-hover-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--header-and-footer-theme-menu-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--header-and-footer-theme-menu-color);
}

.header__title {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
  font-size: var(--logo-size-mobile);
  line-height: 83%;
}

.header__description {
  font-weight: bold;
  line-height: 1.3;
  inline-size: 100%;
}

.main__content {
  padding: 40px 10px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-family: 'IBM Plex mono', sans-serif;
  line-height: 1.3;
}

.paragraph__title {
  margin-block-end: 10px;
}

.section__topic {
  margin-block-end: 20px;
}

.advice {
  font-weight: normal;
}

.paragraph__content {
  color: var(--paragraph-content-color);
  font-size: 18px;
  font-family: 'IBM Plex mono', sans-serif;
  line-height: 1.3;
  margin-block-end: 20px;
}

.paragraph__link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.paragraph__link:hover {
  border-block-end: 1px solid var(--paragraph-content-color);
}

.paragraph__link:focus {
  border: 1px solid var(--paragraph-content-color);
}

.paragraph__link:focus-visible {
  outline: none;
  border: 1px solid var(--paragraph-content-color);
}

.gallery {
  gap: 0;
}

.images {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--footer-accent-color);
  font-weight: bold;
  font-size: var(--logo-size-mobile);
}

@media (width >= 768px) {
  .main__content {
    gap: 62px;
  }

  .header {
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px 20px 0;
    column-gap: 20px;
  }

  .header::before {
    bottom: 20px;
    left: 20px;
  }

  .header::after {
    top: 20px;
    right: 20px;
  }

  .header__decoration::before {
    top: 20px;
    right: 48px;
  }

  .header__decoration::after {
    top: 28px;
    right: 28px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .header__title {
    font-size: var(--logo-size-desktop);
    justify-self: start;
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .header__description {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .main__content {
    padding: 60px 20px;
  }

  .difficulty,
  .goldfish {
    grid-template-columns: 1fr 2fr;
  }

  .difficulty_text,
  .goldfish_text {
    grid-column: 2;
  }

  .attention {
    grid-template-columns: repeat(3, 1fr);
  }

  .attention_title {
    grid-column: 1 / 2;
  }

  .attention_text {
    grid-column: 1 / 4;
  }

  .gallery {
    gap: 10px;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image {
    block-size: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .street {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    padding: 20px;
  }

  .footer::before {
    bottom: 20px;
    left: 20px;
  }

  .footer::after {
    top: 20px;
    right: 20px;
  }

  .footer__title {
    font-size: var(--logo-size-desktop);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    grid-column: 1 / span 2;
    margin-left: 20px;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header__theme-menu-button {
    padding: 0 13px;
    line-height: 24px;
  }

  .difficulty,
  .goldfish {
    gap: 12px;
  }

  .attention_text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .attention_wrapper {
    display: flex;
    flex-direction: column;
  }
}
